{
    "fs": 100.0,
    "Qms": 8.0,
    "Xpeak": 0.005,
    "dead_mass": 0.004,
    "Sd": 0.005200000000000001,
    "excitation_type": {
        "current_index": 0,
        "current_data": "V",
        "current_text": "Volts",
        "items": [
            [
                "Volts",
                "V"
            ],
            [
                "Watts @Re",
                "W"
            ],
            [
                "Watts @Rnom",
                "Wn"
            ]
        ]
    },
    "excitation_value": 2.83,
    "Rnom": 0.01,
    "R_serial": 0.0,
    "motor_spec_type": {
        "current_index": 0,
        "current_data": "define_coil",
        "current_text": "Define Coil Dimensions and Average B",
        "items": [
            [
                "Define Coil Dimensions and Average B",
                "define_coil"
            ],
            [
                "Define Bl, Re, Mmd",
                "define_Bl_Re_Mmd"
            ],
            [
                "Define Bl, Re, Mms",
                "define_Bl_Re_Mms"
            ]
        ]
    },
    "target_Re": 4.0,
    "former_ID": 0.025,
    "t_former": 9.999999999999999e-05,
    "h_winding_target": 0.007,
    "B_average": 0.8,
    "N_layer_options": "2",
    "w_stacking_coef": 1.0,
    "Rs_leadwire": 0.0,
    "reduce_per_layer": 0.0,
    "coil_options": {
        "current_index": 2,
        "current_data": {
            "Bavg": 0.8,
            "airgap_clearance_inner": 0.00019999999999999998,
            "airgap_clearance_outer": 0.00019999999999999998,
            "coil": {
                "N_windings": [
                    34,
                    34
                ],
                "carrier_OD": 0.0252,
                "w_stacking_coef": 1.0,
                "wire": {
                    "h_avg": 0.0002075,
                    "mass_density": 0.00024,
                    "name": "SV180",
                    "nominal_size": 0.00017999999999999998,
                    "notes": NaN,
                    "resistance": 0.67,
                    "w_avg": 0.0002075,
                    "w_max": 0.000214,
                    "wire_type": "SV"
                }
            },
            "h_former_under_coil": 0.0005,
            "h_top_plate": 0.003
        },
        "current_text": "2L SV180 -> Re=3.67, Lm=85.70, Qts=0.63",
        "items": [
            [
                "2L CCAW210 -> Re=3.50, Lm=85.93, Qts=0.68",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            30,
                            30
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00023475,
                            "mass_density": 0.00013120000000000002,
                            "name": "CCAW210",
                            "nominal_size": 0.00020999999999999998,
                            "notes": NaN,
                            "resistance": 0.72324,
                            "w_avg": 0.00023475,
                            "w_max": 0.0002385,
                            "wire_type": "CCAW"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003
                }
            ],
            [
                "2L CCAW200 -> Re=3.99, Lm=85.71, Qts=0.72",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            31,
                            31
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00022475,
                            "mass_density": 0.0001189,
                            "name": "CCAW200",
                            "nominal_size": 0.00019999999999999998,
                            "notes": NaN,
                            "resistance": 0.79821,
                            "w_avg": 0.00022475,
                            "w_max": 0.0002285,
                            "wire_type": "CCAW"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003
                }
            ],
            [
                "2L SV180 -> Re=3.67, Lm=85.70, Qts=0.63",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            34,
                            34
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.0002075,
                            "mass_density": 0.00024,
                            "name": "SV180",
                            "nominal_size": 0.00017999999999999998,
                            "notes": NaN,
                            "resistance": 0.67,
                            "w_avg": 0.0002075,
                            "w_max": 0.000214,
                            "wire_type": "SV"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003
                }
            ],
            [
                "2L SV170 -> Re=4.35, Lm=85.60, Qts=0.66",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            36,
                            36
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00019649999999999998,
                            "mass_density": 0.00021,
                            "name": "SV170",
                            "nominal_size": 0.00016999999999999999,
                            "notes": NaN,
                            "resistance": 0.752,
                            "w_avg": 0.00019649999999999998,
                            "w_max": 0.000204,
                            "wire_type": "SV"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003
                }
            ],
            [
                "2L CCAW190 -> Re=4.70, Lm=85.54, Qts=0.74",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            33,
                            33
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00021475,
                            "mass_density": 0.00011070000000000001,
                            "name": "CCAW190",
                            "nominal_size": 0.00018999999999999998,
                            "notes": NaN,
                            "resistance": 0.88494,
                            "w_avg": 0.00021475,
                            "w_max": 0.0002185,
                            "wire_type": "CCAW"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003
                }
            ]
        ]
    },
    "Bl_p2": 0.01,
    "Re_p2": 0.01,
    "Mmd_p2": 1e-06,
    "Bl_p3": 3.0,
    "Re_p3": 4.0,
    "Mms_p3": 0.004,
    "h_top_plate": 0.003,
    "airgap_clearance_inner": 0.00019999999999999998,
    "airgap_clearance_outer": 0.00019999999999999998,
    "h_former_under_coil": 0.0005,
    "box_type": 0,
    "Vb": 1e-06,
    "Qa": 0.1,
    "Ql": 0.1,
    "parent_body": 0,
    "m2": 1e-05,
    "k2": 10.0,
    "c2": 0.01,
    "user_notes": "",
    "application_data": {
        "app_name": "Speaker Calculator",
        "version": "0.2.0",
        "description": "Loudspeaker design and calculations",
        "copyright": "Copyright (C) 2024 Kerem Basaran",
        "icon_path": "images/logo.ico",
        "author": "Kerem Basaran",
        "author_short": "kbasaran",
        "email": "kbasaran@gmail.com",
        "website": "https://github.com/kbasaran"
    }
}