{
    "fs": 100.0,
    "Qms": 8.0,
    "Xpeak": 0.005,
    "dead_mass": 0.004,
    "Sd": 0.005200000000000001,
    "excitation_type": {
        "items": [
            [
                "Volts",
                "V"
            ],
            [
                "Watts @Re",
                "W"
            ],
            [
                "Watts @Rnom",
                "Wn"
            ]
        ],
        "current_index": 0,
        "current_data": "V",
        "current_text": "Volts"
    },
    "excitation_value": 2.83,
    "Rnom": 0.01,
    "R_serial": 0.0,
    "motor_spec_type": {
        "items": [
            [
                "Define Coil Dimensions and Average B",
                "define_coil"
            ],
            [
                "Define Bl, Re, Mmd",
                "define_Bl_Re_Mmd"
            ],
            [
                "Define Bl, Re, Mms",
                "define_Bl_Re_Mms"
            ]
        ],
        "current_index": 2,
        "current_data": "define_Bl_Re_Mms",
        "current_text": "Define Bl, Re, Mms"
    },
    "target_Re": 0.01,
    "former_ID": 1e-05,
    "t_former": 0.0,
    "h_winding_target": 1e-05,
    "B_average": 0.0,
    "N_layer_options": "",
    "w_stacking_coef": 0.0,
    "Rs_leadwire": 0.0,
    "reduce_per_layer": 0.0,
    "coil_options": {
        "items": [
            [
                "SV",
                {
                    "current_data": {},
                    "current_text": "4x CCAW230, Re=4.18, Lm=87.19, Qts=0.59"
                }
            ],
            [
                "CCAW",
                {
                    "current_text": "current text"
                }
            ],
            [
                "MEGA",
                {
                    "current_text": "current text"
                }
            ]
        ],
        "current_index": 0,
        "current_data": {
            "current_data": {},
            "current_text": "4x CCAW230, Re=4.18, Lm=87.19, Qts=0.59"
        },
        "current_text": "SV"
    },
    "Bl_p2": 0.01,
    "Re_p2": 0.01,
    "Mmd_p2": 1e-06,
    "Bl_p3": 3.0,
    "Re_p3": 4.0,
    "Mms_p3": 0.004,
    "h_top_plate": 1e-05,
    "airgap_clearance_inner": 0.0,
    "airgap_clearance_outer": 0.0,
    "h_former_extension_under_coil": 0.0,
    "box_type": 0,
    "Vb": 1e-06,
    "Qa": 0.1,
    "Ql": 0.1,
    "parent_body": 0,
    "m2": 1e-05,
    "k2": 10.0,
    "c2": 0.01,
    "user_notes": "",
    "application_data": {
        "app_name": "Speaker Calculator",
        "version": "0.2.0",
        "description": "Loudspeaker design and calculations",
        "copyright": "Copyright (C) 2024 Kerem Basaran",
        "icon_path": "images/logo.ico",
        "author": "Kerem Basaran",
        "author_short": "kbasaran",
        "email": "kbasaran@gmail.com",
        "website": "https://github.com/kbasaran"
    }
}