{
    "fs": 100.0,
    "Qms": 8.0,
    "Xpeak": 0.005,
    "dead_mass": 0.004,
    "Sd": 0.005200000000000001,
    "excitation_type": {
        "current_index": 0,
        "current_data": "V",
        "current_text": "Volts",
        "items": [
            [
                "Volts",
                "V"
            ],
            [
                "Watts @Re",
                "W"
            ],
            [
                "Watts @Rnom",
                "Wn"
            ]
        ]
    },
    "excitation_value": 2.83,
    "Rnom": 0.01,
    "R_serial": 0.0,
    "motor_spec_type": {
        "current_index": 0,
        "current_data": "define_coil",
        "current_text": "Define Coil Dimensions and Average B",
        "items": [
            [
                "Define Coil Dimensions and Average B",
                "define_coil"
            ],
            [
                "Define Bl, Re, Mmd",
                "define_Bl_Re_Mmd"
            ],
            [
                "Define Bl, Re, Mms",
                "define_Bl_Re_Mms"
            ]
        ]
    },
    "target_Re": 4.0,
    "former_ID": 0.025,
    "t_former": 9.999999999999999e-05,
    "h_winding_target": 0.007,
    "B_average": 0.8,
    "N_layer_options": "2",
    "w_stacking_coef": 1.0,
    "Rs_leadwire": 0.0,
    "reduce_per_layer": 0.0,
    "coil_options": {
        "current_index": 0,
        "current_data": {
            "Bavg": 0.8,
            "airgap_clearance_inner": 0.00019999999999999998,
            "airgap_clearance_outer": 0.00019999999999999998,
            "coil": {
                "N_windings": [
                    33,
                    33
                ],
                "carrier_OD": 0.0252,
                "w_stacking_coef": 1.0,
                "wire": {
                    "h_avg": 0.0002125,
                    "mass_density": 0.0002425233933998093,
                    "name": "SV180",
                    "nominal_size": 0.00017999999999999998,
                    "notes": "from wire definition KGO file  - received 20250102 Fabian",
                    "resistance": 0.6775433933243736,
                    "w_avg": 0.0002125,
                    "w_max": 0.00022099999999999998,
                    "wire_type": "SV"
                }
            },
            "h_former_under_coil": 0.0005,
            "h_top_plate": 0.003,
            "t_former": 9.999999999999999e-05
        },
        "current_text": "2L SV180 -> Re=3.60, Lm=85.57, Qts=0.66",
        "items": [
            [
                "2L SV180 -> Re=3.60, Lm=85.57, Qts=0.66",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            33,
                            33
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.0002125,
                            "mass_density": 0.0002425233933998093,
                            "name": "SV180",
                            "nominal_size": 0.00017999999999999998,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.6775433933243736,
                            "w_avg": 0.0002125,
                            "w_max": 0.00022099999999999998,
                            "wire_type": "SV"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ],
            [
                "2L AL210 -> Re=3.77, Lm=85.51, Qts=0.76",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            29,
                            29
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.000243,
                            "mass_density": 0.00011154436774074676,
                            "name": "AL210",
                            "nominal_size": 0.00020999999999999998,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.8064705308752094,
                            "w_avg": 0.000243,
                            "w_max": 0.000252,
                            "wire_type": "AL"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ],
            [
                "2L SV170 -> Re=4.28, Lm=85.43, Qts=0.68",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            35,
                            35
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.0002005,
                            "mass_density": 0.00021623297527824316,
                            "name": "SV170",
                            "nominal_size": 0.00016999999999999999,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.7595988215816506,
                            "w_avg": 0.0002005,
                            "w_max": 0.00020899999999999998,
                            "wire_type": "SV"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ],
            [
                "2L CCAW200 -> Re=3.94, Lm=85.42, Qts=0.76",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            30,
                            30
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00023299999999999997,
                            "mass_density": 0.00013138258287037023,
                            "name": "CCAW200",
                            "nominal_size": 0.00019999999999999998,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.8134676365545379,
                            "w_avg": 0.00023299999999999997,
                            "w_max": 0.000242,
                            "wire_type": "CCAW"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ],
            [
                "2L AL200 -> Re=4.30, Lm=85.28, Qts=0.80",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            30,
                            30
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.00023299999999999997,
                            "mass_density": 0.00010203382430053437,
                            "name": "AL200",
                            "nominal_size": 0.00019999999999999998,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.8891337602899181,
                            "w_avg": 0.00023299999999999997,
                            "w_max": 0.000242,
                            "wire_type": "AL"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ],
            [
                "2L CCAW190 -> Re=4.50, Lm=85.18, Qts=0.80",
                {
                    "Bavg": 0.8,
                    "airgap_clearance_inner": 0.00019999999999999998,
                    "airgap_clearance_outer": 0.00019999999999999998,
                    "coil": {
                        "N_windings": [
                            31,
                            31
                        ],
                        "carrier_OD": 0.0252,
                        "w_stacking_coef": 1.0,
                        "wire": {
                            "h_avg": 0.000223,
                            "mass_density": 0.00011943653543342566,
                            "name": "CCAW190",
                            "nominal_size": 0.00018999999999999998,
                            "notes": "from wire definition KGO file  - received 20250102 Fabian",
                            "resistance": 0.9013491817778811,
                            "w_avg": 0.000223,
                            "w_max": 0.000232,
                            "wire_type": "CCAW"
                        }
                    },
                    "h_former_under_coil": 0.0005,
                    "h_top_plate": 0.003,
                    "t_former": 9.999999999999999e-05
                }
            ]
        ]
    },
    "Bl_p2": 0.01,
    "Re_p2": 0.01,
    "Mmd_p2": 1e-06,
    "Bl_p3": 3.0,
    "Re_p3": 4.0,
    "Mms_p3": 0.004,
    "h_top_plate": 0.003,
    "airgap_clearance_inner": 0.00019999999999999998,
    "airgap_clearance_outer": 0.00019999999999999998,
    "h_former_under_coil": 0.0005,
    "box_type": 1,
    "Vb": 0.002,
    "Qa": 999.0,
    "Ql": 99.0,
    "parent_body": 1,
    "m2": 0.1,
    "k2": 10000.0,
    "c2": 1.0,
    "user_notes": "",
    "user_title": "",
    "application_data": {
        "app_name": "Speaker Calculator",
        "version": "0.2.0",
        "description": "Loudspeaker design and calculations",
        "copyright": "Copyright (C) 2025 Kerem Basaran",
        "icon_path": "images\\logo.ico",
        "author": "Kerem Basaran",
        "author_short": "kbasaran",
        "email": "kbasaran@gmail.com",
        "website": "https://github.com/kbasaran"
    }
}